.navbar-bg{
    background-color: #002060;
    height: 100px;
}

.navbar_logo{
    height: 80px;
    width: 100%;
}

.footer_class{
    height: 80px;
    width: 100%;
    background-color: #002060;
    color: white;
    margin-top: 100px;

}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 5px 5px;
    margin: 0;
}
.footer-element-right{
    display: flex;
    gap: 0px;
}
.right-group{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.footer-element-left{
    margin-left: 20px;
}